<!DOCTYPE html>

<html>
    <head>
        <link rel="icon" href="/img/weatherappimg1.jpg">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    
    <body>  
        <div class="page-container">
            {{>header}}
            <p>{{message}}</p>
        </div>
        {{>footer}}
    </body>
</html>