<!DOCTYPE html>

<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="/img/weatherappimg1.jpg">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    
    <body>
        <div class="page-container">
            {{>header}}
            <p>This site uses data from mapbox.com and darksky.net!</p>
            <img class="aboutimg" src="/img/2017-dodge-challenger-gt-awd-wallpaper-1024x768-wallpaper.jpg">    
        </div>
        
        {{>footer}}
    </body>
</html>